header {
    background-color: whitesmoke;
    text-align: right;
    border-bottom: 2px solid darkgrey;
    height: 85px;
}

 /* title name */
 .name {
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color:teal;
    width:18%;
    vertical-align: center;
    float: left;
    text-align: left;
    margin-left: 116px;
    height:51%;
    padding:21px;
 }

 /* subheader changes from about-contact-portfolio */
.subheader{
    color: teal;
    border-bottom: 2px solid lightgray;
    padding-top: 10px;
}

/* Nav class formatting */
.nav{
    padding: 2em;
    margin: unset;
    margin-right:5%;
}

/* nav-item (text) formatting */
.nav-item {
    display:inline;
}
a {
    text-decoration: none;
    text-align: center;
    padding: .5em;
    margin:0px;
    color: rgb(89, 97, 105);
}  
body {
    background-color: lightgray;
    margin: unset;
}

/* index text styling */
p {
    margin-left: 270px;
    color: rgb(104, 103, 103);
    font-size: smaller;
}

input{
    width: 100%;
    color: darkgray;
}

textarea{
    width: 100%;
}

h3{
    color: white;
    background-color: teal;
    width: 15%;
    padding: 4px;
    font-size: smaller;
    text-align: center;


}
/* container styling for all */
.container1 {
    background-color: whitesmoke;
    border-color: rgb(93, 103, 112);
    border: 1em;
    width: 80%;
    height: 350px;
    margin: auto;
    padding: 1.5em;
    padding-top: 0em;
    padding-bottom: 3em;
}

figure {
    display:inline-block;
}

/* css setting for figcaptions */
figcaption {
    position: relative;
}


.floatleft {
    float: left;
}

/* styling all pages footer */
footer {
    background-color: rgb(88, 86, 86);
    text-align: center;
    vertical-align: center;
    color:white;
    border-top: 3px solid teal;
    height: 50px;
    line-height: 10px;
    position: fixed;
    bottom: 0;
    width:100%;
}
